// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  background-color: #F0F8FF;
}

.wrapper {
  background-color: white;
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}
input[type="submit"].btn-block {
  margin: 15px 0;
}

.navbar {
  background-color: white;
  border: 1px solid #ccc;
}

.container {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

p {
  font-size: 120%;
}

.error_explanation {
  ul {
    li {
      list-style: none;
    }
  }
}